In [12]:
import sys
import os
import zipfile

import gdown
import pandas as pd

In [9]:
%%time


url = 'https://drive.google.com/uc?id=1N58mGegfUs9hH3f0jVVxh1Gqjnlugf04'
output = 'elliptic_dataset_filtered.zip'
dir = 'dataset'

gdown.download(url, output, quiet=False)

os.makedirs(dir, exist_ok=True)
with zipfile.ZipFile(output) as f:
  f.extractall(dir)

os.remove(output)

Downloading...
From: https://drive.google.com/uc?id=1N58mGegfUs9hH3f0jVVxh1Gqjnlugf04
To: /home/hewerton/projects/CDadosSeg/T2/final_assignment/01_data_analysis/01_elliptic_dataset/elliptic_dataset_filtered.zip
33.3MB [00:05, 5.63MB/s]

CPU times: user 14.4 s, sys: 9.44 s, total: 23.8 s
Wall time: 30.7 s

In [25]:
def load_dataset():
  txs_features = pd.read_csv('dataset/features.csv')
  txs_classes = pd.read_csv('dataset/classes.csv')

#   X = txs_features.values
  y = txs_classes.where(txs_classes['class'] == 1, other=0)
#   y = y['class'].values

  return txs_features, txs_classes

X, y = load_dataset()

In [26]:
# Features shape
print('Features shape:', X.shape)

# Labels shape
print('Labes shape:', y.shape)

Features shape: (46564, 165)
Labes shape: (46564, 1)

In [30]:
# Calculating class distribution
from collections import Counter
counter = Counter(y['class'].values)
for cls, count in counter.items():
  per = count * 100.0 / len(y)
  print('Class: {:d}, Count: {:d}, Percentage: {:.3f}'.format(cls, count, per))

Class: 2, Count: 42019, Percentage: 90.239
Class: 1, Count: 4545, Percentage: 9.761

In [31]:
X.head()

,1,2,3,4,5,6,7,8,9,10,...,156,157,158,159,160,161,162,163,164,165
0,1,0.163054,1.963790,-0.646376,12.409294,-0.063725,9.782742,12.414558,-0.163645,-0.115831,...,-0.617907,-0.577099,-0.613614,0.241128,0.241406,1.072793,0.085530,-0.131155,0.677799,-0.120613
1,1,-0.005027,0.578941,-0.091383,4.380281,-0.063725,4.667146,0.851305,-0.163645,-0.144554,...,-0.617907,-0.577099,-0.613614,0.241128,0.241406,0.604120,0.008632,-0.131155,0.333211,-0.120613
2,1,-0.147852,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.137933,-0.144108,...,-0.617907,-0.577099,-0.613614,0.241128,0.241406,0.018279,-0.087490,-0.131155,-0.097524,-0.120613
3,1,-0.151357,-0.184668,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.141519,-0.147643,...,-0.587217,-0.539735,-0.582077,-0.979074,-0.978556,0.018279,-0.087490,-0.131155,-0.097524,-0.120613
4,1,-0.172306,-0.184668,-1.201369,0.028105,-0.043875,-0.029140,0.242712,-0.163640,-0.169115,...,-0.611769,-0.577099,-0.600999,0.241128,0.241406,0.018279,-0.068266,-0.084674,-0.054450,-1.760926

In [33]:
y.describe()

              class
count  46564.000000
mean       1.902392
std        0.296787
min        1.000000
25%        2.000000
50%        2.000000
75%        2.000000
max        2.000000

In [37]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46564 entries, 0 to 46563
Columns: 165 entries, 1 to 165
dtypes: float64(164), int64(1)
memory usage: 58.6 MB